* {
    padding: 0;
    margin: 0;
}

/*注册盒子*/

.registerBox {
    width: 400px;
    /*块级元素必须设置了宽高，才能水平居中。由内容撑起的宽度是不可以的*/
    /*position: absolute;*/
    margin: 10% auto;
}

/* 注册输入栏 */

.registerAbt {
    width: 400px;
    height: 54px;
    line-height: 54px;
    box-sizing: border-box;
    border: 1px solid #CCCCCC;
    margin-bottom: 32px;
    position: relative;
}

/* 右边正确显示的图标 */

.registerAbt .rightImg {
    display: inline-block;
    width: 16px;
    height: 16px;
    background: url("images/right.png");
    position: absolute;
    right: 20px;
    top: 20px;
    display: none;
}

/* 输入框的提示 */

.registerAbt .tip {
    height: 32px;
    line-height: 32px;
    position: absolute;
    bottom: 0;
    left: 0;
    margin-bottom: -32px;
    color: #CCCCCC;
    font-size: 12px;
    padding-left: 24px;
    background: url("images/rightTip.png") no-repeat left center;
    display: none;
}

/* 注册输入栏的每个标题 */

.registerAbt .title {
    display: inline-block;
    width: 70px;
    height: 54px;
    margin: 0 20px;
    font-size: 14px;
    color: #666666;
    text-align: justify;
}

/* .title后面生成一伪行，从而实现两端对齐的效果 */

.title:after {
    content: "";
    display: inline-block;
    width: 100%;
}

/* 输入电话号码的那栏 */

.tel .title {
    position: relative;
}

/* 输入电话号码那栏的向下箭头 */

.tel .title i {
    display: inline-block;
    width: 17px;
    height: 17px;
    background: url("images/downArrow.png") no-repeat center center;
    position: absolute;
    right: 0;
    margin-right: -17px;
    margin-top: 20px;
    box-sizing: border-box;
}
.tel .title i:hover {
    cursor: pointer;
}
.tel .title i:active {
    border: 1px solid blue;
    border-radius: 2px;
}

/* 输入栏内容 */

.registerAbt input {
    border: none;
    outline: none;
    color: #CCCCCC;
    font-size: 14px;
    position: absolute;
    left: 110px;
    top: 19px;
}
.agreement input {
    position: relative;
    left: 0;
    top: 0;
}

/* 验证码 */

.registerAbt .code {
    width: 110px;
    height: 46px;
    position: absolute;
    right: 3px;
    top: 3px;
    vertical-align: middle;
    cursor: pointer;
    border: none;
    outline: none;
    color: #333333;
}

/* 协议 */

.agreement {
    width: 300px;
    height: 18px;
    line-height: 18px;
    border: none;
    font-size: 12px;
}
.agreement input[type="checkbox"] {
    vertical-align: middle;
    width: 17px;
    height: 18px;
}
.agreement a {
    text-decoration: none;
    color: #3399FF;
}

/* 注册按钮 */

.registerBtn {
    border: none;
}
.registerBtn input {
    width: 100%;
    height: 100%;
    background-color: #FF3333;
    color: white;
    font-size: 16px;
    cursor: pointer;
    position: relative;
    left: 0;
    top: 0;
}
